#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: linear-gradient(135deg, #FFF 0%, rgba(50, 52, 99, 0.2) 80%, rgba(50, 52, 99, 0.5) 90%, rgba(50, 52, 99, 0.8) 100%);
}

.code {
  text-align: center;
}
